body {
    margin: 0;
    padding: 0;
    background-image: url(so.jpg);
    /* background: linear-gradient(to right top, rgb(182, 65, 65), rgb(209, 223, 12), rgb(13, 196, 53)); */
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Cookie', cursive;
    height: 100vh;
}

.app {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.calender {
    width: 600px;
    margin-top: 10vh;
    background-color: rgba(255, 255, 255, 0.315);
    border-radius: 15px;
    padding: 15px;
    height: 350px;
}

.todo {
    width: 600px;
    margin-top: 10vh;
    background-color: rgba(255, 255, 255, 0.315);
    border-radius: 15px;
    padding: 15px;
    height: 550px;
}

.chart {
    width: 600px;
    margin-top: 2vh;
    background-color: rgba(255, 255, 255, 0.315);
    border-radius: 15px;
    padding: 15px;
    height: 150px;
}

.todolist {

    font-size: medium;
    margin-top: 15px;
    width: 400px;
    text-overflow: ellipsis;
    border-bottom: solid 2px grey;

}

.edit,
.delete {
    appearance: none;
    background: none;
    border: none;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    padding: 0;
}

.edit {
    margin: 0 5px;
    background-color: #FDBC41;
    border: 1px solid #DFA035;
    transition: transform 0.3s;


}

.delete {
    margin: 0 5px;
    background-color: #FC5854;
    border: 1px solid #DF4744;
    transition: transform 0.3s;

}

.edit:hover,
.delete:hover {

    transform: scale(1.2);
    transition: transform 0.2s;

}

.wrapp {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-left: 20px;
}

.button {
    display: flex;
    align-items: baseline;
}

.checkbox {
    width: 20px;
    height: 20px;
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

.add {
    appearance: none;
    background-color: #39C94D;
    border: 2px solid #27AA35;
    border-radius: 5px;
    width: 90px;
    height: 30px;
    margin: 10px 0 auto 57px;
    color: #fff;
    font-family: 'Cookie', cursive;


}

.add i {
    margin-right: 6px;
}

.input {
    margin-left: 20px;
    margin-top: 20px;
    appearance: none;
    height: 30px;
    border: 2px solid rgb(20, 20, 20);
    border-radius: 7px;
    width: 400px;
    background-color: transparent;
    font-family: 'Cookie', cursive;
    font-size: 15px;



}

.input:focus {

    background-color: #fff;
}

.todo .to-do {

    font-size: 23px;
    margin-left: 10px;
    font-weight: bold;
    font-family: 'Cookie', cursive;
    color: rgb(20, 20, 20);

}